footer {
  color: #fff;
  background-color: #222;
}

#f {
  font-variant: small-caps;
  letter-spacing: .1em
}

#f, #credits {
  font-size: .7em;
}

#credits {
  padding: 4px;
  a {
    color: dodgerblue;;
  }
}

#version {
  font-size: .6em;
  color: #fff;
  letter-spacing: .2em;
}

#tweet-button-ctr {
  padding: 12px 0 4px;
  min-height: 20px;
}
