<footer fxLayout="column" fxLayoutAlign="top stretch">
  <div id="tweet-button-ctr">
    <app-tweet url="" text="#Curry3Count"></app-tweet>
    <!--<a class="twitter-timeline" href="https://twitter.com/TwitterDev">Tweets by TwitterDev</a>-->
  </div>
  <div id="f">#CURRY3COUNT | CURRY3COUNT.COM</div>
  <div id="credits">
    <span>by <a href="https://twitter.com/deryk84">@deryk84</a> (15-16)</span>
    <span> & <a href="https://twitter.com/Andrew_Eckart">@Andrew_Eckart</a> (18-19)</span>
  </div>
  <div id="version">v0.1.0</div>
</footer>


