<footer fxLayout="column" fxLayoutAlign="top stretch">
  <div id="tweet-button-ctr">
    <a href="https://twitter.com/intent/tweet?button_hashtag=Curry3Count&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #Curry3Count</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div id="f">#CURRY3COUNT | CURRY3COUNT.COM</div>
  <div id="credits">
    <span>by <a href="https://twitter.com/deryk84">@deryk84</a> (15-16)</span>
    <span> & <a href="https://twitter.com/Andrew_Eckart">@Andrew_Eckart</a> (18-19)</span>
  </div>
  <div id="version">v0.1.0</div>
</footer>
