#f {
  font-size: .7em;
  font-variant: small-caps;
  color: #fff;
  background-color: #222;
  letter-spacing: .1em
}

#version {
  padding: 4px;
  font-size: .6em;
  color: #fff;
  letter-spacing: .2em;
  background-color: #222;
}

#tweet-button-ctr {
  padding: 12px 0 4px;
  min-height: 20px;
  background-color: #222;
}
